html{
    background-color: #F3F4F6;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.containerDetail{
    display:flex;
    justify-content: space-evenly;
    margin-top: 80px;
    .details{
        background-color: white;
        padding: 50px;
    }
}

.imagePhoto{
    position: relative;
    img{
        width: 300px;
    }
    .numberDetail{
        position: absolute;
        font-size: 150px;
        z-index: -1;
        top: 50px;
        color: #E4E5EA;
        font-weight: bold;

    }
}

